<div class="container">
    <app-header [toggleAsideFunction]="toggleIsAsideOpen" [isAsideOpen]="isAsideOpen"></app-header>
    <main>
        <app-sidebar (setModalOpenEvent)="seteModalOpen($event)" [isAsideOpen]="isAsideOpen"
            (setSearchFilterEvent)="setSearch($event)"></app-sidebar>
        <app-map [searchFilter]="searchFilter"></app-map>
        <app-file-upload-modal (setModalOpenEvent)="seteModalOpen($event)" [isFileModalOpen]="isFileModalOpen">
        </app-file-upload-modal>
    </main>

</div>